<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.raw.stock.mapper.selectAllmapper">

    <sql id="user">
        id,username,password
    </sql>
    <select id="selectAll" resultType="com.raw.stock.entity.stock">
        select * from stock_data;
    </select>
    <select id="selectPage" resultType="com.raw.stock.entity.stock">

        select * from stock_data  order by date_time desc  limit #{offset},#{limit};
    </select>
    <select id="selectcount" resultType="java.lang.Integer">
        select count(*) from stock_data;
    </select>
    <select id="selectUserByname" resultType="com.raw.stock.entity.user" parameterType="java.lang.String">
        select <include refid="user"></include> from stock_user where username=#{username};
    </select>
    <select id="selectByTicket" resultType="com.raw.stock.entity.LoginTicket">
        select * from stock_ticket where ticket=#{tickt};
    </select>
</mapper>